@import "tailwindcss";
@import "tw-animate-css";

html,
body{
    margin:0;
    padding:0;
    background:#050816;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

*{
    box-sizing:border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill{
    -webkit-text-fill-color:white !important;
    -webkit-box-shadow:0 0 0px 1000px #18181b inset !important;
}